body{
    background:#fff5f8;
    font-family:Verdana;
    margin:0;
}

header{
    background:#d63384;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    margin-top:10px;
}

/*Zulia Annisa_202432034*/ 
nav a{
    color:white;
    text-decoration:none;
    margin:0 8px;
}

nav a.active{
    font-weight:bold;
    text-decoration:underline;
}

main{
    display:flex;
    justify-content:center;
    padding:40px;
}

.reg-form{
    background:white;
    padding:25px;
    border-radius:10px;
    width:100%;
    max-width:600px;
    border-top:5px solid #ff85b3;
}

fieldset{
    border:none;
}

legend{
    font-size:1.5em;
    color:#d63384;
    margin-bottom:20px;
}

.form-group{
    margin-bottom:15px;
}

input[type="text"],
select,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:4px;
}

button{
    width:100%;
    background:#d63384;
    color:white;
    border:none;
    padding:12px;
    border-radius:5px;
    cursor:pointer;
}